.ingredients {
    background-color: #74512D;
    color: white;
    width: 40%;
    height: 400px;
    margin-left: 10%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    h2 {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 30px 15%;
        margin-block-start: 0;
    }
    #contentcheck {
        display: flex;
        flex-direction: row;
    }
    .columncheck {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .check {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
}