#footer {
    background-color: #F8F4E1;
    border-top: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10%;

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    .red {
        width: 25px;
        height: 25px;
        padding-right: 30px;
    }
    }
