#firstpart {
    background-color: #F8F4E1;
    display: flex;
    flex-direction: row;
    
}

#reloj {
    width: 40%;
    display: flex;
    justify-content: center;
    h2 {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    #clock {
        width: 40px;
        height: 40px;
    }
    #minutos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 20px;
        }
    }
}